myenv/
temp/
__pycache__/

.vscode
__pycache__

data-warehouse-311917-73a0792225c7.json


.env
notas.txt

test_tomas.py
utils/create_custom_field
utils/upsert_entitlement.py
utils/verify_entitlement.py
